@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
body {
    text-align: center;
    max-width: 1300px;
    margin: 0rem auto;
    background-color: antiquewhite;
    font-family: "Montserrat", sans-serif;
    font-size: 1rem;
  }
  h1 {
    font-size: 2.1rem;
    color: #1f2937;
    padding: 2rem 1rem;
  }
#main{
    
    display: block;
    border-radius: 17px;
  padding: 2rem 2rem;
  margin: 6rem auto;
  background-color: #6bdb61ec;
  max-width: 800px;
  font-size: 1.5rem;
}
input{ margin: .5rem auto;
    display: block;
    height: 2.5rem;
    text-align: center;
    border-radius: 0.8rem;
    width: 10rem;
    border: solid brown 2px;
    font-size: large;
}
button{
    margin: 1rem auto;
  display: block;
  height: 2.5rem;
  text-align: center;
  border-radius: 0.8rem;
  width: 10rem;
  border: solid brown 2px;
  font-size: large;
  background-color: #3ae73a;
  color: black;
  font-weight: bold;
}

#output-box{
    font-size: 1.7rem;
    font-weight: bold;
    padding: 2rem 2rem;
    display: contents;
    margin-top: 1rem;
}

























/* :root{
    --tw-bg-opacity: 1;
    background-color: rgba(139, 92, 246, var(--tw-bg-opacity));
}
.container {
    display: flex;
    flex-direction: column;
    width: 50vw;
    margin-left:20vw;
    font-family: 'Montserrat', sans-serif;
   text-align: center;
  }
  h1{
      text-align: center;
      font-family: 'Montserrat', sans-serif;
  }
  input {
    width: ;
    padding: 1rem;
    height: 20px;
    display: block;
  } */